.custom-node {
    /*width: 300px;*/
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s;
}



.handle-top, .handle-bottom, .handle-left, .handle-right {
    position: absolute;
    background-color: teal;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.handle-top-1 {
    top: -5px;
    left: 10px;
}

.handle-top-2 {
    top: -5px;
    left: calc(50% - 5px);
}

.handle-top-3 {
    top: -5px;
    right: 10px;
}

.handle-bottom-1 {
    bottom: -5px;
    left: 10px;
}

.handle-bottom-2 {
    bottom: -5px;
    left: calc(50% - 5px);
}

.handle-bottom-3 {
    bottom: -5px;
    right: 10px;
}

.handle-left-1 {
    left: -5px;
    top: 10px;
}

.handle-left-2 {
    left: -5px;
    top: calc(50% - 5px);
}

.handle-left-3 {
    left: -5px;
    bottom: 10px;
}

.handle-right-1 {
    right: -5px;
    top: 10px;
}

.handle-right-2 {
    right: -5px;
    top: calc(50% - 5px);
}

.handle-right-3 {
    right: -5px;
    bottom: 10px;
}