.custom-node {
    background: white;
    box-sizing: border-box;
    padding: 10px;
}

.custom-node-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-node-body {
    display: flex;
    flex-direction: column;
}

.custom-node-body div {
    margin: 2px 0;
}