# Django exclusions
backend/env/
backend/venv/

backend/enki/__pycache__/
backend/enki/*.pyc

# React exclusions
frontend/enki_frontend/node_modules/
frontend/enki_frontend/build/

# Common exclusions
.DS_Store


